.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2f80ed;
    margin: 0;  /*обнуляю браузерные отступы*/
    font-weight: normal;  /*в брифе не указано начертание (по умолчанию оно жирное для заголовков и нежирное для подзаголовков), но на макете текст явно нежирный, делаю согласно макету*/
  }