.table__text {
    margin: 0 0 20px 0; /*обнуляю браузерные отступы и задаю нижний отступ*/
    line-height: 1.2;
    font-size: 18px;
  }
  
  .table__text:last-of-type {
    margin: 0; /*у последнего абзаца не должно быть и нижнего отступа, обнуляю*/
  }